<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="post" action="room/new">
      <label for="add_rn"> Name </label>
      <input id="add_rn" name="room[name]" />
      <input type="submit" value="submit" />
    </form>

    
    <h2> List of Current Rooms (<%= rooms.length %>)</h2>
   
    <ul>
      <% for(var i=0; i<rooms.length; i++) {%>
         <li><%= rooms[i].name %></li>
      <% } %> 
    </ul>
  </body>
</html>
